@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");
@import "theme";

body {
  background-color: $base;

  overflow: hidden overlay;
}

*:not(head, head > *) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", "Open Sans", "Fira Mono", "Arial", sans-serif, monospace;
  font-size: .4cm;
  line-height: 1rem;
  text-align: center;
  color: $text;

  outline: none;

  &::placeholder {
    color: $overlay1;
  }

  &::selection {
    background-color: adjust-color($base, $lightness: 10%);

    color: $light-blue;
  }

  scrollbar-width: .75rem;
  scrollbar-color: $overlay0 $crust;
}

a {
  text-decoration: solid;
  transition: linear 100ms;

  &:hover {
    color: $light-blue;
  }
}
