@import "../../styles/theme";

.contact {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  section {
    flex: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5rem;
  }

  .previous,
  .next {
    top: 50%;
    bottom: 50%;
    position: absolute;
    line-height: 0;
  }

  .previous {
    left: 1rem;
  }

  .next {
    right: 1rem;
  }

  .loading {
    animation: spin 2s linear infinite;
  }
}

.go-to-the-real-contact-page {
  padding: 1rem 2rem;
  margin-top: 1rem;

  background-color: $mantle;
  font-size: 1.2rem;

  border: 0;
  outline: none;
  border-radius: 1rem;

  transition: background-color linear 100ms;

  &:hover {
    background-color: $crust;
  }
}

.color-0 > .blob {
  display: none;
}

.color-1 {
  *::selection {
    color: $yellow;
  }

  .blob {
    transform: scale(0.5);

    #gradient > stop {
      &:first-child {
        stop-color: $yellow;
      }

      &:last-child {
        stop-color: $red;
      }
    }
  }
}

.color-2 {
  *::selection {
    color: $pink;
  }

  .blob {
    transform: scale(0.65);

    #gradient > stop {
      &:first-child {
        stop-color: $purple;
      }

      &:last-child {
        stop-color: $pink;
      }
    }
  }
}

.color-3 {
  *::selection {
    color: $light-blue;
  }

  .blob {
    transform: scale(0.8);

    #gradient > stop {
      &:first-child {
        stop-color: $cyan;
      }

      &:last-child {
        stop-color: $blue;
      }
    }
  }
}

.color-4 {
  *::selection {
    color: $light-purple;
  }

  .blob #gradient > stop {
    &:first-child {
      stop-color: $light-purple;
    }

    &:last-child {
      stop-color: $flamingo;
    }
  }
}

.color-8 {
  *::selection {
    color: $red;
  }
  .blob #gradient > stop {
    stop-color: $red;
  }
}

.color-9 {
  *::selection {
    color: $teal;
  }
  .blob #gradient > stop {
    stop-color: $teal;
  }
}

.color-8 > .blob,
.color-9 > .blob {
  transform: scale(1.5);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
