@import "../../styles/theme";

.pages {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem 1rem;

  line-height: 2rem;
  
  a {
    font-size: 1.4rem;

    transition: none;

    &:hover:not(:first-child) {
      scale: 1.025;
    }
    
    &:first-child {
      font-size: 2rem;
      font-weight: bold;
  
      margin-right: .5rem;
    
      &:hover {
        color: $yellow;
      }
    }
  }
}
