@import "../../styles/theme";

.pages {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem 1rem;


  a {
    font-size: 1.4rem;

    &:hover:not(:first-child) {
      scale: 1.025;
    }

    &:first-child {
      font-size: 2rem;
      font-weight: bold;

      margin-right: .5rem;

      transition: color linear 100ms;

      &:hover, &::selection {
        color: $yellow;
      }
    }
  }
}
