@import "../../styles/theme";

.links {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: .75rem;
  line-height: 0;

  a svg {
    height: 2rem;
    width: auto;

    > * {
      color: $text;
    }
  }

  a, a svg > * {
    transition: cubic-bezier(.2, .3, 0, 1) 250ms;
  }

  a:hover {
    transform: scale(1.25);

    &.github svg > * { color: $subtext0; }
    &.twitter svg > * { color: $cyan; }
    &.telegram svg > * { color: $blue; }
    &.instagram svg > * { color: $maroon; }
    &.linkedin svg > * { color: $light-blue; }
  }
}
