@import "../../styles/theme";

.links {
  display: flex;
  justify-content: center;

  gap: 0 1rem;
  line-height: 0;

  a svg {
    height: 2rem;
    width: 2rem;
    
    > * { color: $text }
  }
  a, a svg > * { transition: cubic-bezier(.2, .3, 0, 1) 250ms }

  a:hover {
    transform: scale(1.25);
    
    &.github svg > * { color: $surface2 }
    &.twitter svg > * { color: $sapphire }
    &.telegram svg > * { color: $blue }
    &.instagram svg > * { color: $maroon }
    &.linkedin svg > * { color: $sapphire }
  }
  
  &.big {
    .github svg > * { color: $surface2 }
    .twitter svg > * { color: $sapphire }
    .telegram svg > * { color: $blue }
    .instagram svg > * { color: $maroon }
    .linkedin svg > * { color: $sapphire }
  }
}
