@import "../../styles/theme";

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  gap: 2rem;

  background-color: $mantle;

  > .left {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 2rem;

    > h1 {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
    }
    
    > .pages {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      > a {
        font-size: 1.4rem;
      }
    }
  }

  > .links {
    flex-wrap: wrap;
  }
}
